In [2]:
import pandas as pd
import requests

In [3]:
url = 'https://www.worldcoinindex.com'
crypto_url = requests.get(url)
crypto_url

In [4]:
body = crypto_url.text

Body now consists of full HTML source code of our webpaage. Now if the HTML source has a table which is marked by the HTML tag `<table></table>` (this tag is used for defining a table in HTML) `Pandas` uses `read_html()` to extract thte table from the HTML document.

In [5]:
crypto_data = pd.read_html(body)
print(type(crypto_data))
print(len(crypto_data))

<class 'list'>
1

In [6]:
crypto_data = crypto_data[0]

In [8]:
crypto_data.head()

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 39,736",-3.44%,"$ 41,505","$ 39,625",NaN,$ 8.87B,19.01M,$ 755.44B
1,2,NaN,Ethereum,ETH,"$ 2,989.80",-4.13%,"$ 3,144.53","$ 2,981.13",NaN,$ 8.39B,120.37M,$ 359.90B
2,3,NaN,Dogecoin,DOGE,$ 0.140977,+0.65%,$ 0.146952,$ 0.137632,NaN,$ 1.23B,129.40B,$ 18.24B
3,4,NaN,Zilliqa,ZIL,$ 0.113774,+2.38%,$ 0.126963,$ 0.109591,NaN,$ 1.11B,14.12B,$ 1.60B
4,5,NaN,Terra,LUNA,$ 81.05,-7.78%,$ 89.75,$ 80.91,NaN,$ 982.53M,468.44M,$ 37.96B