In [5]:
import pandas as pd
import numpy as np

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [6]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [7]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [22]:
cast.sort_values('year', ascending=False)

,title,year,name,type,character,n
42492,War in Snow,2026,Yassin Alnaimi,actor,Abdalrehman,NaN
42491,Rise of Man,2025,Yassin Alnaimi,actor,Mark,NaN
715145,Rise of Man,2025,Ewan Fleck,actor,Jack,NaN
826712,Inside Me,2023,Damien (II) Gonzalez,actor,Matt Garcia,NaN
2818581,Gnome Alone,2023,Becky G.,actress,Chlo?,NaN
...,...,...,...,...,...,...
1728670,Soldiers of the Cross,1900,Orrie Perry,actor,Lion,NaN
1728821,Soldiers of the Cross,1900,Reg Perry,actor,Lion,NaN
559348,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN
2530280,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
467752,Miss Jerry,1894,William Courtenay,actor,Mr. Hamilton,NaN

### What are the ten most common movie names of all time?

In [18]:
# finding the top 10 most common movie names
cast['title'].value_counts().head(10)

Around the World in Eighty Days       1298
7 cajas                                689
Thelma                                 580
The Ten Commandments                   533
The Eschatrilogy: Book of the Dead     517
Catching Faith                         493
The Dark Knight Rises                  453
Welcome to Essex                       449
Stuck on You                           436
The Buccaneer                          436
Name: title, dtype: int64

### Which three years in the 1930s saw the most films released?

In [21]:
# search for all films in the 1930s
films_1930s = cast[cast['year'].isin(range(1930, 1940))]

# find the 3 years in which the most movies were released
films_1930s['year'].value_counts().head(3)

1937    27462
1936    25755
1938    25206
Name: year, dtype: int64

### Count the number of films that have been released in each decade over the history of cinema.

In [63]:
for year in range(189, 204):
    print(f'{(year-1) * 10}s', cast[cast['year'].isin(range((year-1)*10, year*10))]['year'].count())

1880s 0
1890s 3
1900s 70
1910s 42604
1920s 71472
1930s 199058
1940s 211842
1950s 211470
1960s 187069
1970s 215147
1980s 283194
1990s 381806
2000s 746571
2010s 1083959
2020s 202

### Count the number of "Hamlet" films made in each decade.

In [64]:
hamlet_titles = cast[cast['title'] == 'Hamlet']

for year in range(189, 204):
    print(f'{(year-1)*10}s', hamlet_titles[hamlet_titles['year'].isin(range((year-1)*10, year*10))]['year'].count())

1880s 0
1890s 0
1900s 0
1910s 28
1920s 9
1930s 0
1940s 24
1950s 1
1960s 57
1970s 19
1980s 3
1990s 83
2000s 55
2010s 34
2020s 0

### Count the number of "Rustler" characters in each decade of the history of film.

### Count the number of "Hamlet" characters in each decade.

### What are the 11 most common character names in movie history?

### Who are the 10 people most often credited as "Herself" in film history?

### Who are the 10 people most often credited as "Himself" in film history?

### Which actors or actresses appeared in the most movies in the year 1945?

### Which actors or actresses appeared in the most movies in the year 1985?

### How many roles "Mammootty" has played in each year of his career.

### What are the 10 most frequent roles that start with the phrase "Patron in"?

### What are the 10 most frequent roles that start with the word "Science"?

### Count number of n-values of the roles that Judi Dench has played over her career.

### Count number of n-values of Cary Grant's roles through his career.

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?