In [3]:
import pandas as pd
import numpy as np
import datetime as dt

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [54]:
# first, count the number of Superman characters in each year
superman_yearly_count = cast[cast['character'] == 'Superman'].groupby('year')['year'].count().reset_index(name='count')

# second, count the numbero f Batman films in each year
batman_yearly_count =cast[cast['character'] == 'Batman'].groupby('year')['year'].count().reset_index(name='count')

In [70]:
# compare the two tables and create a new column to define which year is a 'Superman year'
supes_bat_comparison = superman_yearly_count.merge(batman_yearly_count, on='year', how='outer', suffixes=('_superman', '_batman')).fillna(0)
supes_bat_comparison.sort_values(by='year')

    year  count_superman  count_batman
30  1938             0.0           1.0
31  1940             0.0           1.0
32  1943             0.0           1.0
0   1948             1.0           0.0
33  1949             0.0           2.0
1   1950             1.0           0.0
2   1951             2.0           0.0
34  1953             0.0           2.0
3   1954             5.0           0.0
4   1955             1.0           0.0
35  1957             0.0           2.0
36  1965             0.0           1.0
37  1966             0.0           1.0
38  1967             0.0           1.0
5   1973             2.0           1.0
6   1978             2.0           0.0
7   1980             2.0           0.0
8   1981             1.0           1.0
9   1983             2.0           0.0
10  1985             2.0           2.0
11  1987             1.0           0.0
39  1988             0.0           1.0
40  1989             0.0           1.0
12  1991             1.0           1.0
13  1992             1.0           1.0
41  1993             0.0           2.0
14  1994             1.0           1.0
15  1995             1.0           1.0
16  1997             1.0           1.0
42  1998             0.0           1.0
43  1999             0.0           1.0
17  2002             1.0           1.0
18  2003             1.0           1.0
44  2004             0.0           1.0
45  2005             0.0           1.0
19  2006             1.0           0.0
20  2008             2.0           3.0
21  2009             1.0           3.0
22  2010             1.0           2.0
23  2011             3.0           4.0
24  2012             1.0           2.0
46  2013             0.0           4.0
25  2014             2.0           6.0
26  2015             1.0           3.0
27  2016             5.0          14.0
28  2017             3.0           3.0
29  2018             1.0           2.0

In [73]:
# create column called 'superman_year' and determine whether it is one
supes_bat_comparison['superman_year'] = supes_bat_comparison.apply(lambda x: 'Superman year' if x['count_superman'] > x['count_batman'] else '', axis=1)

# sort table by year
supes_bat_comparison.sort_values(by='year')

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [81]:
# create a new column called 'batman_year' that determines whether the year is a batman year
supes_bat_comparison['batman_year'] = supes_bat_comparison.apply(lambda x: 'Batman year' if x['count_batman'] > x['count_superman'] else '', axis=1)

# sort table by year
supes_bat_comparison.sort_values(by='year')

    year  count_superman  count_batman  superman_year  batman_year
30  1938             0.0           1.0                 Batman year
31  1940             0.0           1.0                 Batman year
32  1943             0.0           1.0                 Batman year
0   1948             1.0           0.0  Superman year
33  1949             0.0           2.0                 Batman year
1   1950             1.0           0.0  Superman year
2   1951             2.0           0.0  Superman year
34  1953             0.0           2.0                 Batman year
3   1954             5.0           0.0  Superman year
4   1955             1.0           0.0  Superman year
35  1957             0.0           2.0                 Batman year
36  1965             0.0           1.0                 Batman year
37  1966             0.0           1.0                 Batman year
38  1967             0.0           1.0                 Batman year
5   1973             2.0           1.0  Superman year
6   1978             2.0           0.0  Superman year
7   1980             2.0           0.0  Superman year
8   1981             1.0           1.0
9   1983             2.0           0.0  Superman year
10  1985             2.0           2.0
11  1987             1.0           0.0  Superman year
39  1988             0.0           1.0                 Batman year
40  1989             0.0           1.0                 Batman year
12  1991             1.0           1.0
13  1992             1.0           1.0
41  1993             0.0           2.0                 Batman year
14  1994             1.0           1.0
15  1995             1.0           1.0
16  1997             1.0           1.0
42  1998             0.0           1.0                 Batman year
43  1999             0.0           1.0                 Batman year
17  2002             1.0           1.0
18  2003             1.0           1.0
44  2004             0.0           1.0                 Batman year
45  2005             0.0           1.0                 Batman year
19  2006             1.0           0.0  Superman year
20  2008             2.0           3.0                 Batman year
21  2009             1.0           3.0                 Batman year
22  2010             1.0           2.0                 Batman year
23  2011             3.0           4.0                 Batman year
24  2012             1.0           2.0                 Batman year
46  2013             0.0           4.0                 Batman year
25  2014             2.0           6.0                 Batman year
26  2015             1.0           3.0                 Batman year
27  2016             5.0          14.0                 Batman year
28  2017             3.0           3.0
29  2018             1.0           2.0                 Batman year

### Count the number of actor roles for each year and the number of actress roles for each year over the history of film.

### Find the difference between the number of actor roles and the number of actress roles for each year over the history of film.

### What is the proportion of roles that have been 'actor' roles for each year in the history of film.

### What is the proportion of supporting (n=2) roles that have been 'actor' roles for each year in the history of film.