In [2]:
# %matplotlib inline
import pandas as pd
import numpy as np

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
cast = pd.read_csv('data/cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
# check data types
titles.dtypes

title    object
year      int64
dtype: object

### How many movies are listed in the titles dataframe?

In [6]:
# drop duplicates to make sure that there are less lengths
len(titles.drop_duplicates())

232330

### What are the earliest two films listed in the titles dataframe?

In [7]:
# using sort_values() to sort by year, then show the first 2 titles to be 
titles.sort_values('year').head(2)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [8]:
# use len() to count number of titles with 'Hamlet' in the title
hamlet_titles = titles[titles['title'] == 'Hamlet']
hamlet_titles

         title  year
6009    Hamlet  1948
45350   Hamlet  1990
46721   Hamlet  1910
92146   Hamlet  1976
94355   Hamlet  1987
94554   Hamlet  2000
98554   Hamlet  1921
102919  Hamlet  2011
122704  Hamlet  1969
128388  Hamlet  1954
166410  Hamlet  1913
168965  Hamlet  2015
176069  Hamlet  2009
182970  Hamlet  1964
201291  Hamlet  1996
209878  Hamlet  1911
221479  Hamlet  1973
223568  Hamlet  2014

In [9]:
len(hamlet_titles)

18

### How many movies are titled "North by Northwest"?

In [10]:
# use boolean operations to find movies titled 'North by Northwest'
nnw_titles = titles[titles['title'] == 'North by Northwest']
len(nnw_titles)

1

### When was the first movie titled "Hamlet" made?

In [11]:
# use previously found titles named 'Hamlet'
hamlet_titles.sort_values('year').head(1)['year']

46721    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [12]:
# use boolean operation to find all movies titled 'Treasure Island' then sort values by year ascending
titles[titles['title'] == 'Treasure Island'].sort_values('year')

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [13]:
# user boolean operation to find all movies made in the year 1950
# then use length of list to count those movies
titles_in_1950 = titles[titles['year'] == 1950]
len(titles_in_1950)

1099

### How many movies were made in the year 1960?

In [14]:
# user boolean operation to find all movies made in the year 1960
# then use length of list to count those movies
titles_in_1960 = titles[titles['year'] == 1960]
len(titles_in_1960)

1501

### How many movies were made from 1950 through 1959?

In [15]:
# use isin() to find all movies made in the 1950s using the range as the constraint of the search
# then use length of list to count those movies
titles_in_1950s = titles[titles['year'].isin(range(1950, 1960))]
len(titles_in_1950s.sort_values('year'))

12711

### In what years has a movie titled "Batman" been released?

In [16]:
# use boolean operations to find movies titled 'Batman'
batman_titles = titles[titles['title'] == 'Batman']

# loop through 'Batman' and print release year for each movie
for batman in batman_titles['year']:
    print(batman)

1989
1943

### How many roles were there in the movie "Inception"?

In [17]:
print(cast.head(5), '\n')
# use DataFrame attributes to determine column data types
print(cast.dtypes)

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

title         object
year           int64
name          object
type          object
character     object
n            float64
dtype: object

In [18]:
# use boolean operation to look for 'Inception' casting details
inception_title = cast[cast['title'] == 'Inception']

# find unique values for each type to find number of roles
list(inception_title['type'].drop_duplicates())

['actor', 'actress']

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [19]:
# finding the number of roles in the movie 'Inception' not ranked
inception_not_ranked = inception_title[inception_title['n'].isna()]
len(inception_not_ranked)

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [20]:
# finding the number of roles in the movie 'Inception' that is inverse of not ranked
inception_ranked = inception_title[~inception_title['n'].isna()]
len(inception_ranked)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [21]:
# use sort_values on 'Inception' ranked list
inception_ranked.sort_values('n').head()

             title  year                  name     type character    n
573027   Inception  2010     Leonardo DiCaprio    actor      Cobb  1.0
834400   Inception  2010  Joseph Gordon-Levitt    actor    Arthur  2.0
3259597  Inception  2010            Ellen Page  actress   Ariadne  3.0
913007   Inception  2010             Tom Hardy    actor     Eames  4.0
2333003  Inception  2010          Ken Watanabe    actor     Saito  5.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [22]:
# find all movies titled 'Sleuth' in year 1972
sleuth_title = cast[cast['title'] == ('Sleuth')]
sleuth_1972 = sleuth_title[sleuth_title['year'] == 1972]

# display 1972 'Sleuth' list ordered by ranking
sleuth_1972[~sleuth_1972['n'].isna()].sort_values('n')

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [23]:
# find all movies titled 'Sleuth' in year 2007
sleuth_title = cast[cast['title'] == ('Sleuth')]
sleuth_2007 = sleuth_title[sleuth_title['year'] == 2007]

# display 1972 'Sleuth' list ordered by ranking
sleuth_2007[~sleuth_2007['n'].isna()].sort_values('n')

          title  year           name   type    character    n
316653   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1254632  Sleuth  2007       Jude Law  actor         Milo  2.0
1751872  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [24]:
# find all roles in Hamlet
hamlet_titles = cast[cast['title'] == 'Hamlet']

# find all roles in the 1921 version of Hamlet
hamlet_1921 = hamlet_titles[hamlet_titles['year'] == 1921]

In [25]:
# find how many roles
len(hamlet_1921.sort_values('n'))

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [26]:
# search for hamlet titles in 1996
hamlet_1996 = hamlet_titles[hamlet_titles['year'] == 1996]

# count how many roles there were in 1996 hamlet
len(hamlet_1996.sort_values('n'))

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [27]:
# search for all unique roles in all Hamlet titles through history and count
len(hamlet_titles['character'].drop_duplicates())

107

### How many people have played an "Ophelia"?

In [28]:
# create a search_table function for more readable code
def search_table(table, field, role):
    return table[table[field] == role]

In [29]:
# search for all people that played Ophelia
search_table(cast, 'character', 'Ophelia')

,title,year,name,type,character,n
240366,The Merry Maids of Madness,2016,Amy Bourque,actor,Ophelia,11.0
397692,Jake Gets Paid,2009,Josie Chisholm,actor,Ophelia,NaN
456673,Inoperable,2016,Crystal Cordero,actor,Ophelia,NaN
840572,"Dogg's Hamlet, Cahoot's Macbeth",2005,Lucas Grabeel,actor,Ophelia,NaN
1323306,11,2014,Catherine (IV) Lord,actor,Ophelia,NaN
...,...,...,...,...,...,...
3561046,"Hamlet, Son of a Kingpin",2015,Ingrid Vollset,actress,Ophelia,NaN
3574490,D.C. Cab,1983,Marsha Warfield,actress,Ophelia,7.0
3575192,Creature,2011,Jennifer Lynn Warren,actress,Ophelia,12.0
3585205,Hamlet,2015,Katie (II) West,actress,Ophelia,7.0
3601799,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

In [30]:
# remove duplicated names and perform a count
cast.iloc[search_table(cast, 'character', 'Ophelia')['name'].drop_duplicates().index]

,title,year,name,type,character,n
240366,The Merry Maids of Madness,2016,Amy Bourque,actor,Ophelia,11.0
397692,Jake Gets Paid,2009,Josie Chisholm,actor,Ophelia,NaN
456673,Inoperable,2016,Crystal Cordero,actor,Ophelia,NaN
840572,"Dogg's Hamlet, Cahoot's Macbeth",2005,Lucas Grabeel,actor,Ophelia,NaN
1323306,11,2014,Catherine (IV) Lord,actor,Ophelia,NaN
...,...,...,...,...,...,...
3561046,"Hamlet, Son of a Kingpin",2015,Ingrid Vollset,actress,Ophelia,NaN
3574490,D.C. Cab,1983,Marsha Warfield,actress,Ophelia,7.0
3575192,Creature,2011,Jennifer Lynn Warren,actress,Ophelia,12.0
3585205,Hamlet,2015,Katie (II) West,actress,Ophelia,7.0
3601799,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

### How many people have played a role called "The Dude"?

In [31]:
# search for people who have played the role called 'The Dude'
search_table(cast, 'character', 'The Dude')

,title,year,name,type,character,n
263434,The Big Lebowski,1998,Jeff Bridges,actor,The Dude,1.0
328939,Terms & Conditions,2015,Jordan Cann,actor,The Dude,9.0
483781,Stranger,2000,Scott Crowell,actor,The Dude,NaN
553260,Pizza Man vs. the Dude,2004,Chris DeMarcus,actor,The Dude,NaN
592594,Sweepstakes,1931,Mike Donlin,actor,The Dude,12.0
610856,Self Helpless,2010,Devin The Dude,actor,The Dude,NaN
1057654,Jay and Silent Bob Strike Back,2001,Matthew (XIX) James,actor,The Dude,37.0
1105485,Explicit Ills,2008,Christopher Kadish,actor,The Dude,27.0
1325956,American Idiots,2013,Jason Loughridge,actor,The Dude,10.0
1344790,The Winds of Autumn,1976,Steve Lyons,actor,The Dude,30.0
1467445,The Liq,2016,Mark Alan Meek,actor,The Dude,NaN
1494898,Wild Oats Lane,1926,Jerry Miley,actor,The Dude,6.0
1731068,Oklahoma Badlands,1948,House Peters Jr.,actor,The Dude,13.0
1770139,Cloud Air: The Movie,2013,Thomas (VIII) Porter,actor,The Dude,8.0
1783848,Hacks,1997,Jason Priestley,actor,The Dude,11.0
2135620,Carlos Spills the Beans,2012,Bobby Styles,actor,The Dude,NaN
2264997,Zachariah,1971,Dick Van Patten,actor,The Dude,9.0
2345440,It Can Be Arranged,2010,Joel Weiss,actor,The Dude,NaN

In [32]:
# perform a count on non-duplicated names
cast.iloc[search_table(cast, 'character', 'The Dude')['name'].drop_duplicates().index].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 263434 to 2345440
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      18 non-null     object
 1   year       18 non-null     int64
 2   name       18 non-null     object
 3   type       18 non-null     object
 4   character  18 non-null     object
 5   n          12 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1008.0+ bytes

### How many people have played a role called "The Stranger"?

In [33]:
# search for people who have played a role called 'The Stranger'
search_table(cast, 'character', 'The Stranger')

,title,year,name,type,character,n
25003,Theeb,2014,Hassan Mutlag Al-Maraiyeh,actor,The Stranger,3.0
34533,My Time to Die,2014,Vincent H. Alexander,actor,The Stranger,2.0
65182,Get Mean,1975,Tony Anthony,actor,The Stranger,1.0
65185,Lo straniero di silenzio,1968,Tony Anthony,actor,The Stranger,1.0
65187,Un dollaro tra i denti,1967,Tony Anthony,actor,The Stranger,1.0
...,...,...,...,...,...,...
3087925,The Stranger,1995,Kathy Long,actress,The Stranger,1.0
3101453,Ever Since Eve,1921,Ethel Lynne,actress,The Stranger,7.0
3277027,Weitertanzen,2008,Rosa Maria Paz,actress,The Stranger,NaN
3297806,The Godsend,1980,Angela Pleasence,actress,The Stranger,3.0
3429093,Motherland,1927,Dorinea Shirley,actress,The Stranger,NaN

In [34]:
# perform a count on non-duplicated names
cast.iloc[search_table(cast, 'character', 'The Stranger')['name'].drop_duplicates().index].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 25003 to 3429093
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      201 non-null    object
 1   year       201 non-null    int64
 2   name       201 non-null    object
 3   type       201 non-null    object
 4   character  201 non-null    object
 5   n          125 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 11.0+ KB

### How many roles has Sidney Poitier played throughout his career?

In [35]:
# isolate roles Sidney Poitier has played for the entirety of his career; remove duplicates
cast.iloc[search_table(cast, 'name', 'Sidney Poitier')['character'].drop_duplicates().index].sort_values('n')

,title,year,name,type,character,n
1761853,A Patch of Blue,1965,Sidney Poitier,actor,Gordon Ralfe,1.0
1761893,"To Sir, with Love",1967,Sidney Poitier,actor,Mark Thackeray,1.0
1761891,The Wilby Conspiracy,1975,Sidney Poitier,actor,Shack Twala,1.0
1761890,The Slender Thread,1965,Sidney Poitier,actor,Alan Newell,1.0
1761887,The Lost Man,1969,Sidney Poitier,actor,Jason Higgs,1.0
1761879,Shoot to Kill,1988,Sidney Poitier,actor,Warren Stantin,1.0
1761876,Pressure Point,1962,Sidney Poitier,actor,Doctor,1.0
1761875,Porgy and Bess,1959,Sidney Poitier,actor,Porgy,1.0
1761894,Uptown Saturday Night,1974,Sidney Poitier,actor,Steve Jackson,1.0
1761871,Lilies of the Field,1963,Sidney Poitier,actor,Homer Smith,1.0
1761870,Let's Do It Again,1975,Sidney Poitier,actor,Clyde Williams,1.0
1761869,In the Heat of the Night,1967,Sidney Poitier,actor,Virgil Tibbs,1.0
1761872,Little Nikita,1988,Sidney Poitier,actor,Roy Parmenter,1.0
1761854,A Piece of the Action,1977,Sidney Poitier,actor,Manny Durrell,1.0
1761855,A Raisin in the Sun,1961,Sidney Poitier,actor,Walter Lee Younger,1.0
1761861,Buck and the Preacher,1972,Sidney Poitier,actor,Buck,1.0
1761856,A Warm December,1973,Sidney Poitier,actor,Dr. Matt Younger,1.0
1761860,Brother John,1971,Sidney Poitier,actor,John Kane,1.0
1761865,For Love of Ivy,1968,Sidney Poitier,actor,Jack Parks,1.0
1761868,Guess Who's Coming to Dinner,1967,Sidney Poitier,actor,John Prentice,2.0
1761864,Edge of the City,1957,Sidney Poitier,actor,Tommy Tyler,2.0
1761863,Duel at Diablo,1966,Sidney Poitier,actor,Toller,2.0
1761888,The Mark of the Hawk,1957,Sidney Poitier,actor,Obam,2.0
1761857,All the Young Men,1960,Sidney Poitier,actor,Sgt. Eddie Towler,2.0
1761886,The Long Ships,1964,Sidney Poitier,actor,Aly Mansuh,2.0
1761883,The Defiant Ones,1958,Sidney Poitier,actor,Noah Cullen,2.0
1761882,The Bedford Incident,1965,Sidney Poitier,actor,Ben Munceford,2.0
1761866,Go Man Go,1954,Sidney Poitier,actor,Inman Jackson,3.0
1761885,The Jackal,1997,Sidney Poitier,actor,FBI Deputy Director Carter Preston,3.0
1761895,Virgin Island,1958,Sidney Poitier,actor,Marcus,3.0
1761858,Band of Angels,1957,Sidney Poitier,actor,Rau-Ru,3.0
1761874,Paris Blues,1961,Sidney Poitier,actor,Eddie Cook,3.0
1761862,"Cry, the Beloved Country",1951,Sidney Poitier,actor,Reverend Msimangu,3.0
1761873,No Way Out,1950,Sidney Poitier,actor,Dr. Luther Brooks,4.0
1761867,"Good-bye, My Lady",1956,Sidney Poitier,actor,Gates Watson,4.0
1761880,Sneakers,1992,Sidney Poitier,actor,Donald Crease,4.0
1761877,Red Ball Express,1952,Sidney Poitier,actor,Robertson,5.0
1761859,Blackboard Jungle,1955,Sidney Poitier,actor,Gregory W. Miller,10.0
1761881,Something of Value,1957,Sidney Poitier,actor,Kimani Wa Karanja,13.0
1761884,The Greatest Story Ever Told,1965,Sidney Poitier,actor,Simon of Cyrene,21.0
1761878,Sepia Cinderella,1947,Sidney Poitier,actor,Night Club Extra,NaN

### How many roles has Judi Dench played?

In [36]:
# isolate Judi Dench, then remove all duplicated roles
cast.iloc[search_table(cast, 'name', 'Judi Dench')['character'].drop_duplicates().index].sort_values('n')

,title,year,name,type,character,n
2720514,The Best Exotic Marigold Hotel,2011,Judi Dench,actress,Evelyn Greenslade,1.0
2720501,Philomena,2013,Judi Dench,actress,Philomena,1.0
2720500,Notes on a Scandal,2006,Judi Dench,actress,Barbara Covett,1.0
2720496,Mrs Henderson Presents,2005,Judi Dench,actress,Mrs. Laura Henderson,1.0
2720495,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0
2720492,Ladies in Lavender,2004,Judi Dench,actress,Ursula,1.0
2720512,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0
2720476,Angelina Ballerina: Angelina Sets Sail,2006,Judi Dench,actress,Miss Lilly,2.0
2720479,Dead Cert,1974,Judi Dench,actress,Laura Davidson,2.0
2720482,Four in the Morning,1965,Judi Dench,actress,Wife,2.0
2720485,He Who Rides a Tiger,1965,Judi Dench,actress,Joanne,2.0
2720471,84 Charing Cross Road,1987,Judi Dench,actress,Nora Doel,3.0
2720518,The Shipping News,2001,Judi Dench,actress,Agnis Hamm,3.0
2720513,The Angelic Conversation,1985,Judi Dench,actress,Shakespeare's Sonnets read by,3.0
2720490,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0
2720524,Wetherby,1985,Judi Dench,actress,Marcia Pilborough,3.0
2720488,Iris,2001,Judi Dench,actress,Iris Murdoch,3.0
2720494,Miss Peregrine's Home for Peculiar Children,2016,Judi Dench,actress,Miss Avocet,4.0
2720515,The Chronicles of Riddick,2004,Judi Dench,actress,Aereon,4.0
2720477,Casino Royale,2006,Judi Dench,actress,M,4.0
2720516,The Importance of Being Earnest,2002,Judi Dench,actress,Lady Bracknell,5.0
2720499,Nine,2009,Judi Dench,actress,Lilli,6.0
2720493,Luther,1974,Judi Dench,actress,Katherine,7.0
2720487,Home on the Range,2004,Judi Dench,actress,Mrs. Caloway,7.0
2720481,Doogal,2006,Judi Dench,actress,Narrator,7.0
2720474,A Room with a View,1985,Judi Dench,actress,"Eleanor Lavish, a novelist",7.0
2720475,A Study in Terror,1965,Judi Dench,actress,Sally,8.0
2720519,The Third Secret,1964,Judi Dench,actress,Miss Humphries,12.0
2720484,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2720508,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0
2720472,A Handful of Dust,1988,Judi Dench,actress,Mrs. Beaver,13.0
2720489,J. Edgar,2011,Judi Dench,actress,Annie Hoover,13.0
2720473,A Midsummer Night's Dream,1968,Judi Dench,actress,Titania,16.0
2720502,Pirates of the Caribbean: On Stranger Tides,2011,Judi Dench,actress,Society Lady,16.0
2720478,Chocolat,2000,Judi Dench,actress,Armande Voizin,18.0
2720491,Jane Eyre,2011,Judi Dench,actress,Mrs. Fairfax,18.0
2720503,Pride & Prejudice,2005,Judi Dench,actress,Lady Catherine de Bourg,20.0
2720498,My Week with Marilyn,2011,Judi Dench,actress,Dame Sybil Thorndike,23.0
2720486,Henry V,1989,Judi Dench,actress,Mistress Nell Quickly,26.0
2720511,Stars in Shorts,2012,Judi Dench,actress,Mary,29.0
2720506,Run for Your Wife,2012,Judi Dench,actress,Bag Lady,40.0
2720497,Murder on the Orient Express,2017,Judi Dench,actress,Princess Dragomiroff,NaN
2720505,Rage,2009,Judi Dench,actress,Mona Carvell,NaN
2720507,Schadenfreude,2016,Judi Dench,actress,The Narrator,NaN
2720522,Tulip Fever,2017,Judi Dench,actress,The Abbess of St. Ursula,NaN

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [37]:
# search tables for Cary Grant where he played a supporting role
cary_grant = search_table(
    search_table(cast, 'n', 2),
    'name',
    'Cary Grant'
)

# using the Cary Grant supporting role table, isolate table to the 1940s
cary_grant[cary_grant['year'].isin(range(1940, 1950))].sort_values('year')

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [38]:
# search tables for Cary Grant where he played a supporting role
cary_grant = search_table(
    search_table(cast, 'n', 1),
    'name',
    'Cary Grant'
)

# using the Cary Grant supporting role table, isolate table to the 1940s
cary_grant[cary_grant['year'].isin(range(1940, 1950))].sort_values('year')

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [54]:
# search for all actors
actor_roles = search_table(cast, 'type', 'actor')

# isolate all unique actor roles in the 1950s
actor_roles.iloc[actor_roles[actor_roles['year'].isin(range(1950, 1960))]['character'].drop_duplicates().index].sort_values('year')

,title,year,name,type,character,n
107290,Le rosier de Madame Husson,1950,Georges Baconnet,actor,M. Laboureur - le maire,13.0
701517,The Clouded Yellow,1950,Alexander Field,actor,2nd Hand Clothes Man,NaN
242360,Catskill Honeymoon,1950,Cookie Bowers,actor,Comic Impressionist,9.0
1403823,King of the Bullwhip,1950,Jimmy Martin,actor,Pizor,15.0
1944975,El portero,1950,F?lix Samper,actor,Miembro patronato barbudo,NaN
...,...,...,...,...,...,...
1072993,Drillinge an Bord,1959,G?nther Jerschke,actor,Reinwald - Fernsehreporter,10.0
1072983,"Der Mann, der sich verkaufte",1959,G?nther Jerschke,actor,Dr. Zerbst,NaN
1072981,Der Frosch mit der Maske,1959,G?nther Jerschke,actor,Voice of Newsreader on Radio,NaN
79250,Alias Jesse James,1959,James Arness,actor,Marshal Matt Dillon,NaN
2116121,No Name on the Bullet,1959,Warren Stevens,actor,Lou Fraden,5.0

### How many roles were avilable for actresses in the 1950s?

In [52]:
# search for all actress roles
actress_roles = search_table(cast, 'type', 'actress')

# isolate actress roles in the 1950s 
cast.iloc[actress_roles[actress_roles['year'].isin(range(1950, 1960))]['character'].drop_duplicates().index].sort_values('year')

,title,year,name,type,character,n
2455338,A Woman of Distinction,1950,Lucienne & Ashour,actress,Apache Dancers,NaN
2591251,No Sad Songs for Me,1950,Lucile Browne,actress,Mrs. Hendrickson,NaN
3138659,Envoi de fleurs,1950,Milly Mathis,actress,Mme Sammos,6.0
3138739,"Old Mother Riley, Headmistress",1950,Jenny Mathot,actress,Mlle. Leblanc,10.0
3138740,Paul Temple's Triumph,1950,Jenny Mathot,actress,Jacqueline Giraud,NaN
...,...,...,...,...,...,...
3406025,Meine Tochter Patricia,1959,Marianne Sch?nauer,actress,Celia Bermont,5.0
3405780,Wenn die Glocken hell erklingen,1959,Ellen Schwiers,actress,Susanne Weiden,2.0
3405770,Med mord i bagaget,1959,Ellen Schwiers,actress,Nina Christians,2.0
2926505,Lockvogel der Nacht,1959,Maria Holst,actress,Lea Amsel,4.0
3400239,As the Sea Rages,1959,Maria Schell,actress,Mana,1.0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [56]:
# search for leading roles
leading_roles = search_table(cast, 'n', 1)

# look for all leading roles through 1980
leading_roles[leading_roles['year'] < 1980]

,title,year,name,type,character,n
281,En glad gutt,1932,Hauk Aabel,actor,Ola Nordistua,1.0
286,En herre med bart,1942,Per Aabel,actor,"Ole Grong, advokat",1.0
1030,Batman Fights Dracula,1967,Jing Abalos,actor,Batman,1.0
1031,Batman Fights Dracula,1967,Jing Abalos,actor,Bruce Wayne,1.0
1035,Mighty Rock,1969,Jing Abalos,actor,Mighty Rock,1.0
...,...,...,...,...,...,...
3633731,Anego,1969,Hiroko ?gi,actress,Ai Konno,1.0
3633732,Noboriryu tekkahada,1970,Hiroko ?gi,actress,Katsumi Sakura,1.0
3633855,Ah! Nomugi toge,1979,Shinobu ?take,actress,Mine Masai,1.0
3634001,Kvinnolek,1968,Gunbritt ?hrstr?m,actress,"Lisa Holmberg, fashion designer",1.0
3634046,Tamam mi devam mi?,1975,F?sun ?nal,actress,F?sun,1.0

### How many non-leading roles were available through from the beginning of film history through 1980?

In [58]:
nonleading_roles = cast[cast['n'] != 1]

nonleading_roles[nonleading_roles['year'] < 1980]

,title,year,name,type,character,n
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
32,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0
34,Los tarantos,1963,'El Viti',actor,Cantaor,20.0
41,Been Down So Long It Looks Like Up to Me,1971,Murray the 'K',actor,Himself,NaN
42,I Wanna Hold Your Hand,1978,Murray the 'K',actor,Himself,48.0
...,...,...,...,...,...,...
3634382,Venner,1960,Bibba ?ygard,actress,Kontordame,NaN
3634386,Bang!,1977,Beate ?rskov,actress,Beate,NaN
3634387,Alin yazisi,1972,?lk? ?lker,actress,Aynur,7.0
3634390,Tokmak Nuri,1975,?lk? ?lker,actress,Hemsire,NaN
3634392,Akdeniz korsanlari,1950,Muazzez ?lkerer,actress,Maria,2.0

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [66]:
nan_role = cast[~cast['n'].notna()]
nan_role[nan_role['year'] < 1980]

,title,year,name,type,character,n
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
41,Been Down So Long It Looks Like Up to Me,1971,Murray the 'K',actor,Himself,NaN
117,Atemlos vor Liebe,1970,Ballett 2000,actor,Themselves,NaN
119,Thunder in Carolina,1960,2nd Marine Division Band,actor,Themselves,NaN
122,Die Todesarena,1953,Die 3 Motorellos,actor,Themselves,NaN
...,...,...,...,...,...,...
3634272,Hanci,1969,Leman ?zt?rk,actress,Yilmaz'in Annesi,NaN
3634298,4 x 4,1965,Kari ?hrn Geelmuyden,actress,Vibeke (Pike med hvit ball),NaN
3634382,Venner,1960,Bibba ?ygard,actress,Kontordame,NaN
3634386,Bang!,1977,Beate ?rskov,actress,Beate,NaN
3634390,Tokmak Nuri,1975,?lk? ?lker,actress,Hemsire,NaN