In [126]:
import pandas as pd
import numpy as np
import datetime as dt

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [127]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

KeyboardInterrupt:

In [ ]:
release_dates = pd.read_csv('data/release_dates.csv', index_col=None,
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

### Count the number of movies with "Christmas" in their title for each month, that is released are the USA.

In [ ]:
# determine dtypes to help define new filter function
release_dates.dtypes

title              object
year                int64
country            object
date       datetime64[ns]
dtype: object

In [ ]:
# filter_results function
# chooses return value based on the value type of the filtered field
def filter_results(table, field, value):
    if table[field].dtype == 'int64':
        return table[table[field] == value]
    else:
        return table[table[field].str.contains(value)]

In [ ]:
release_dates.pipe(filter_results, 'title', 'Christmas').pipe(filter_results, 'country', 'USA')

                                           title  year country       date
1191                    12 Dog Days of Christmas  2014     USA 2014-11-28
1192    12 Dogs of Christmas: Great Puppy Rescue  2012     USA 2012-10-09
5904                       A Belle for Christmas  2014     USA 2014-11-04
6163                         A Cadaver Christmas  2011     USA 2011-04-02
6272                           A Christmas Carol  1938     USA 1938-12-16
...                                          ...   ...     ...        ...
383807            The Nightmare Before Christmas  1993     USA 1993-10-29
395219     The Shootin' It Christmas Spectacular  2013     USA 2013-12-20
408785                            This Christmas  2007     USA 2007-11-21
437275              What She Wants for Christmas  2012     USA 2012-12-01
439068                           White Christmas  1954     USA 1954-10-14

[111 rows x 4 columns]

### Count the number of movies with "Christmas" in their title for each month, that are released in Canada.

In [ ]:
# determine date type
print(release_dates['date'].dtype.name)

datetime64[ns]

In [ ]:
# determine min/max date values to search through
print(release_dates['date'].sort_values())

232584   1894-10-09
317627   1900-09-13
398115   1906-12-26
290219   1907-11-02
21527    1908-09-12
            ...
365289   2021-12-07
74969    2021-12-24
284063   2022-03-25
312128   2022-09-01
165532   2023-03-01
Name: date, Length: 452656, dtype: datetime64[ns]

In [ ]:
# create a monthly date range spanning the entire dated history of the release_date tables
bins = pd.date_range('1894-10', '2023-03', freq='MS')
canada_christmas_releases = release_dates.pipe(filter_results, 'title', 'Christmas').pipe(filter_results, 'country', 'Canada')
canada_christmas_releases.groupby(pd.cut(canada_christmas_releases['date'], bins))['title'].count().sort_values()

date
(1894-10-01, 1894-11-01]    0
(1980-02-01, 1980-03-01]    0
(1980-01-01, 1980-02-01]    0
(1979-12-01, 1980-01-01]    0
(1979-11-01, 1979-12-01]    0
                           ..
(2012-10-01, 2012-11-01]    1
(2011-11-01, 2011-12-01]    2
(2014-12-01, 2015-01-01]    2
(2014-11-01, 2014-12-01]    2
(2016-12-01, 2017-01-01]    3
Name: title, Length: 1541, dtype: int64

### Count the number of movies in which the titles start with "The Hobbit" for each month, that are released in the USA.

In [ ]:
hobbit_usa_releases = release_dates.pipe(filter_results, 'title', 'The Hobbit').pipe(filter_results, 'country', 'USA')
hobbit_usa_releases.groupby(pd.cut(release_dates['date'], bins))['title'].count().sort_values()

date
(1894-10-01, 1894-11-01]    0
(1980-08-01, 1980-09-01]    0
(1980-07-01, 1980-08-01]    0
(1980-06-01, 1980-07-01]    0
(1980-05-01, 1980-06-01]    0
                           ..
(1937-10-01, 1937-11-01]    0
(1935-02-01, 1935-03-01]    0
(2014-12-01, 2015-01-01]    1
(2013-12-01, 2014-01-01]    1
(2012-12-01, 2013-01-01]    1
Name: title, Length: 1541, dtype: int64

### Count the number of movies with "Romance" in their title for **each day of the week**, that are released in the USA.

In [ ]:
def which_day(year_start, year_end, day):
    
    annual_list = []
    
    for year in range(year_start, year_end):
        
        if day == 'Monday':
            annual_list.extend(
                pd.date_range(
                    start=str(year),
                    end=str(year+1),
                    freq='W-MON').strftime('%m/%d/%Y').to_list())
            
        elif day == 'Tuesday':
            annual_list.extend(
                pd.date_range(
                    start=str(year),
                    end=str(year+1),
                    freq='W-TUE').strftime('%m/%d/%Y').to_list())
            
        elif day == 'Wednesday':
            annual_list.extend(
                pd.date_range(
                    start=str(year),
                    end=str(year+1),
                    freq='W-WED').strftime('%m/%d/%Y').to_list())
            
        elif day == 'Thursday':
            annual_list.extend(
                pd.date_range(
                    start=str(year),
                    end=str(year+1),
                    freq='W-THU').strftime('%m/%d/%Y').to_list())
            
        elif day == 'Friday':
            annual_list.extend(
                pd.date_range(
                    start=str(year),
                    end=str(year+1),
                    freq='W-FRI').strftime('%m/%d/%Y').to_list())
            
        elif day == 'Saturday':
            annual_list.extend(
                pd.date_range(
                    start=str(year),
                    end=str(year+1),
                    freq='W-SAT').strftime('%m/%d/%Y').to_list())
        
        elif day == 'Sunday':
            annual_list.extend(
                pd.date_range(
                    start=str(year),
                    end=str(year+1),
                    freq='W').strftime('%m/%d/%Y').to_list())
        
        else:
            print('No such day exists.')
            return None
        
    return annual_list

In [ ]:
which_day(1922, 2024, 'Sunday')

['01/01/1922',
 '01/08/1922',
 '01/15/1922',
 '01/22/1922',
 '01/29/1922',
 '02/05/1922',
 '02/12/1922',
 '02/19/1922',
 '02/26/1922',
 '03/05/1922',
 '03/12/1922',
 '03/19/1922',
 '03/26/1922',
 '04/02/1922',
 '04/09/1922',
 '04/16/1922',
 '04/23/1922',
 '04/30/1922',
 '05/07/1922',
 '05/14/1922',
 '05/21/1922',
 '05/28/1922',
 '06/04/1922',
 '06/11/1922',
 '06/18/1922',
 '06/25/1922',
 '07/02/1922',
 '07/09/1922',
 '07/16/1922',
 '07/23/1922',
 '07/30/1922',
 '08/06/1922',
 '08/13/1922',
 '08/20/1922',
 '08/27/1922',
 '09/03/1922',
 '09/10/1922',
 '09/17/1922',
 '09/24/1922',
 '10/01/1922',
 '10/08/1922',
 '10/15/1922',
 '10/22/1922',
 '10/29/1922',
 '11/05/1922',
 '11/12/1922',
 '11/19/1922',
 '11/26/1922',
 '12/03/1922',
 '12/10/1922',
 '12/17/1922',
 '12/24/1922',
 '12/31/1922',
 '01/07/1923',
 '01/14/1923',
 '01/21/1923',
 '01/28/1923',
 '02/04/1923',
 '02/11/1923',
 '02/18/1923',
 '02/25/1923',
 '03/04/1923',
 '03/11/1923',
 '03/18/1923',
 '03/25/1923',
 '04/01/1923',
 '04/08/1923',
 '04/15/1923',
 '04/22/1923',
 '04/29/1923',
 '05/06/1923',
 '05/13/1923',
 '05/20/1923',
 '05/27/1923',
 '06/03/1923',
 '06/10/1923',
 '06/17/1923',
 '06/24/1923',
 '07/01/1923',
 '07/08/1923',
 '07/15/1923',
 '07/22/1923',
 '07/29/1923',
 '08/05/1923',
 '08/12/1923',
 '08/19/1923',
 '08/26/1923',
 '09/02/1923',
 '09/09/1923',
 '09/16/1923',
 '09/23/1923',
 '09/30/1923',
 '10/07/1923',
 '10/14/1923',
 '10/21/1923',
 '10/28/1923',
 '11/04/1923',
 '11/11/1923',
 '11/18/1923',
 '11/25/1923',
 '12/02/1923',
 '12/09/1923',
 '12/16/1923',
 '12/23/1923',
 '12/30/1923',
 '01/06/1924',
 '01/13/1924',
 '01/20/1924',
 '01/27/1924',
 '02/03/1924',
 '02/10/1924',
 '02/17/1924',
 '02/24/1924',
 '03/02/1924',
 '03/09/1924',
 '03/16/1924',
 '03/23/1924',
 '03/30/1924',
 '04/06/1924',
 '04/13/1924',
 '04/20/1924',
 '04/27/1924',
 '05/04/1924',
 '05/11/1924',
 '05/18/1924',
 '05/25/1924',
 '06/01/1924',
 '06/08/1924',
 '06/15/1924',
 '06/22/1924',
 '06/29/1924',
 '07/06/1924',
 '07/13/1924',
 '07/20/1924',
 '07/27/1924',
 '08/03/1924',
 '08/10/1924',
 '08/17/1924',
 '08/24/1924',
 '08/31/1924',
 '09/07/1924',
 '09/14/1924',
 '09/21/1924',
 '09/28/1924',
 '10/05/1924',
 '10/12/1924',
 '10/19/1924',
 '10/26/1924',
 '11/02/1924',
 '11/09/1924',
 '11/16/1924',
 '11/23/1924',
 '11/30/1924',
 '12/07/1924',
 '12/14/1924',
 '12/21/1924',
 '12/28/1924',
 '01/04/1925',
 '01/11/1925',
 '01/18/1925',
 '01/25/1925',
 '02/01/1925',
 '02/08/1925',
 '02/15/1925',
 '02/22/1925',
 '03/01/1925',
 '03/08/1925',
 '03/15/1925',
 '03/22/1925',
 '03/29/1925',
 '04/05/1925',
 '04/12/1925',
 '04/19/1925',
 '04/26/1925',
 '05/03/1925',
 '05/10/1925',
 '05/17/1925',
 '05/24/1925',
 '05/31/1925',
 '06/07/1925',
 '06/14/1925',
 '06/21/1925',
 '06/28/1925',
 '07/05/1925',
 '07/12/1925',
 '07/19/1925',
 '07/26/1925',
 '08/02/1925',
 '08/09/1925',
 '08/16/1925',
 '08/23/1925',
 '08/30/1925',
 '09/06/1925',
 '09/13/1925',
 '09/20/1925',
 '09/27/1925',
 '10/04/1925',
 '10/11/1925',
 '10/18/1925',
 '10/25/1925',
 '11/01/1925',
 '11/08/1925',
 '11/15/1925',
 '11/22/1925',
 '11/29/1925',
 '12/06/1925',
 '12/13/1925',
 '12/20/1925',
 '12/27/1925',
 '01/03/1926',
 '01/10/1926',
 '01/17/1926',
 '01/24/1926',
 '01/31/1926',
 '02/07/1926',
 '02/14/1926',
 '02/21/1926',
 '02/28/1926',
 '03/07/1926',
 '03/14/1926',
 '03/21/1926',
 '03/28/1926',
 '04/04/1926',
 '04/11/1926',
 '04/18/1926',
 '04/25/1926',
 '05/02/1926',
 '05/09/1926',
 '05/16/1926',
 '05/23/1926',
 '05/30/1926',
 '06/06/1926',
 '06/13/1926',
 '06/20/1926',
 '06/27/1926',
 '07/04/1926',
 '07/11/1926',
 '07/18/1926',
 '07/25/1926',
 '08/01/1926',
 '08/08/1926',
 '08/15/1926',
 '08/22/1926',
 '08/29/1926',
 '09/05/1926',
 '09/12/1926',
 '09/19/1926',
 '09/26/1926',
 '10/03/1926',
 '10/10/1926',
 '10/17/1926',
 '10/24/1926',
 '10/31/1926',
 '11/07/1926',
 '11/14/1926',
 '11/21/1926',
 '11/28/1926',
 '12/05/1926',
 '12/12/1926',
 '12/19/1926',
 '12/26/1926',
 '01/02/1927',
 '01/09/1927',
 '01/16/1927',
 '01/23/1927',
 '01/30/1927',
 '02/06/1927',
 '02/13/1927',
 '02/20/1927',
 '02/27/1927',
 '03/06/1927',
 '03/13/1927',
 '03/20/1927',
 '03/27/1927',
 '04/03/1927',
 '04/10/1927',
 '04/17/1927',
 '04/24/1927',
 '05/01/1927',
 '05/08/1927',
 '05/15/1927',
 '05/22/1927',
 '05/29/1927',
 '06/05/1927',
 '06/12/1927',
 '06/19/1927',
 '06/26/1927',
 '07/03/1927',
 '07/10/1927',
 '07/17/1927',
 '07/24/1927',
 '07/31/1927',
 '08/07/1927',
 '08/14/1927',
 '08/21/1927',
 '08/28/1927',
 '09/04/1927',
 '09/11/1927',
 '09/18/1927',
 '09/25/1927',
 '10/02/1927',
 '10/09/1927',
 '10/16/1927',
 '10/23/1927',
 '10/30/1927',
 '11/06/1927',
 '11/13/1927',
 '11/20/1927',
 '11/27/1927',
 '12/04/1927',
 '12/11/1927',
 '12/18/1927',
 '12/25/1927',
 '01/01/1928',
 '01/01/1928',
 '01/08/1928',
 '01/15/1928',
 '01/22/1928',
 '01/29/1928',
 '02/05/1928',
 '02/12/1928',
 '02/19/1928',
 '02/26/1928',
 '03/04/1928',
 '03/11/1928',
 '03/18/1928',
 '03/25/1928',
 '04/01/1928',
 '04/08/1928',
 '04/15/1928',
 '04/22/1928',
 '04/29/1928',
 '05/06/1928',
 '05/13/1928',
 '05/20/1928',
 '05/27/1928',
 '06/03/1928',
 '06/10/1928',
 '06/17/1928',
 '06/24/1928',
 '07/01/1928',
 '07/08/1928',
 '07/15/1928',
 '07/22/1928',
 '07/29/1928',
 '08/05/1928',
 '08/12/1928',
 '08/19/1928',
 '08/26/1928',
 '09/02/1928',
 '09/09/1928',
 '09/16/1928',
 '09/23/1928',
 '09/30/1928',
 '10/07/1928',
 '10/14/1928',
 '10/21/1928',
 '10/28/1928',
 '11/04/1928',
 '11/11/1928',
 '11/18/1928',
 '11/25/1928',
 '12/02/1928',
 '12/09/1928',
 '12/16/1928',
 '12/23/1928',
 '12/30/1928',
 '01/06/1929',
 '01/13/1929',
 '01/20/1929',
 '01/27/1929',
 '02/03/1929',
 '02/10/1929',
 '02/17/1929',
 '02/24/1929',
 '03/03/1929',
 '03/10/1929',
 '03/17/1929',
 '03/24/1929',
 '03/31/1929',
 '04/07/1929',
 '04/14/1929',
 '04/21/1929',
 '04/28/1929',
 '05/05/1929',
 '05/12/1929',
 '05/19/1929',
 '05/26/1929',
 '06/02/1929',
 '06/09/1929',
 '06/16/1929',
 '06/23/1929',
 '06/30/1929',
 '07/07/1929',
 '07/14/1929',
 '07/21/1929',
 '07/28/1929',
 '08/04/1929',
 '08/11/1929',
 '08/18/1929',
 '08/25/1929',
 '09/01/1929',
 '09/08/1929',
 '09/15/1929',
 '09/22/1929',
 '09/29/1929',
 '10/06/1929',
 '10/13/1929',
 '10/20/1929',
 '10/27/1929',
 '11/03/1929',
 '11/10/1929',
 '11/17/1929',
 '11/24/1929',
 '12/01/1929',
 '12/08/1929',
 '12/15/1929',
 '12/22/1929',
 '12/29/1929',
 '01/05/1930',
 '01/12/1930',
 '01/19/1930',
 '01/26/1930',
 '02/02/1930',
 '02/09/1930',
 '02/16/1930',
 '02/23/1930',
 '03/02/1930',
 '03/09/1930',
 '03/16/1930',
 '03/23/1930',
 '03/30/1930',
 '04/06/1930',
 '04/13/1930',
 '04/20/1930',
 '04/27/1930',
 '05/04/1930',
 '05/11/1930',
 '05/18/1930',
 '05/25/1930',
 '06/01/1930',
 '06/08/1930',
 '06/15/1930',
 '06/22/1930',
 '06/29/1930',
 '07/06/1930',
 '07/13/1930',
 '07/20/1930',
 '07/27/1930',
 '08/03/1930',
 '08/10/1930',
 '08/17/1930',
 '08/24/1930',
 '08/31/1930',
 '09/07/1930',
 '09/14/1930',
 '09/21/1930',
 '09/28/1930',
 '10/05/1930',
 '10/12/1930',
 '10/19/1930',
 '10/26/1930',
 '11/02/1930',
 '11/09/1930',
 '11/16/1930',
 '11/23/1930',
 '11/30/1930',
 '12/07/1930',
 '12/14/1930',
 '12/21/1930',
 '12/28/1930',
 '01/04/1931',
 '01/11/1931',
 '01/18/1931',
 '01/25/1931',
 '02/01/1931',
 '02/08/1931',
 '02/15/1931',
 '02/22/1931',
 '03/01/1931',
 '03/08/1931',
 '03/15/1931',
 '03/22/1931',
 '03/29/1931',
 '04/05/1931',
 '04/12/1931',
 '04/19/1931',
 '04/26/1931',
 '05/03/1931',
 '05/10/1931',
 '05/17/1931',
 '05/24/1931',
 '05/31/1931',
 '06/07/1931',
 '06/14/1931',
 '06/21/1931',
 '06/28/1931',
 '07/05/1931',
 '07/12/1931',
 '07/19/1931',
 '07/26/1931',
 '08/02/1931',
 '08/09/1931',
 '08/16/1931',
 '08/23/1931',
 '08/30/1931',
 '09/06/1931',
 '09/13/1931',
 '09/20/1931',
 '09/27/1931',
 '10/04/1931',
 '10/11/1931',
 '10/18/1931',
 '10/25/1931',
 '11/01/1931',
 '11/08/1931',
 '11/15/1931',
 '11/22/1931',
 '11/29/1931',
 '12/06/1931',
 '12/13/1931',
 '12/20/1931',
 '12/27/1931',
 '01/03/1932',
 '01/10/1932',
 '01/17/1932',
 '01/24/1932',
 '01/31/1932',
 '02/07/1932',
 '02/14/1932',
 '02/21/1932',
 '02/28/1932',
 '03/06/1932',
 '03/13/1932',
 '03/20/1932',
 '03/27/1932',
 '04/03/1932',
 '04/10/1932',
 '04/17/1932',
 '04/24/1932',
 '05/01/1932',
 '05/08/1932',
 '05/15/1932',
 '05/22/1932',
 '05/29/1932',
 '06/05/1932',
 '06/12/1932',
 '06/19/1932',
 '06/26/1932',
 '07/03/1932',
 '07/10/1932',
 '07/17/1932',
 '07/24/1932',
 '07/31/1932',
 '08/07/1932',
 '08/14/1932',
 '08/21/1932',
 '08/28/1932',
 '09/04/1932',
 '09/11/1932',
 '09/18/1932',
 '09/25/1932',
 '10/02/1932',
 '10/09/1932',
 '10/16/1932',
 '10/23/1932',
 '10/30/1932',
 '11/06/1932',
 '11/13/1932',
 '11/20/1932',
 '11/27/1932',
 '12/04/1932',
 '12/11/1932',
 '12/18/1932',
 '12/25/1932',
 '01/01/1933',
 '01/01/1933',
 '01/08/1933',
 '01/15/1933',
 '01/22/1933',
 '01/29/1933',
 '02/05/1933',
 '02/12/1933',
 '02/19/1933',
 '02/26/1933',
 '03/05/1933',
 '03/12/1933',
 '03/19/1933',
 '03/26/1933',
 '04/02/1933',
 '04/09/1933',
 '04/16/1933',
 '04/23/1933',
 '04/30/1933',
 '05/07/1933',
 '05/14/1933',
 '05/21/1933',
 '05/28/1933',
 '06/04/1933',
 '06/11/1933',
 '06/18/1933',
 '06/25/1933',
 '07/02/1933',
 '07/09/1933',
 '07/16/1933',
 '07/23/1933',
 '07/30/1933',
 '08/06/1933',
 '08/13/1933',
 '08/20/1933',
 '08/27/1933',
 '09/03/1933',
 '09/10/1933',
 '09/17/1933',
 '09/24/1933',
 '10/01/1933',
 '10/08/1933',
 '10/15/1933',
 '10/22/1933',
 '10/29/1933',
 '11/05/1933',
 '11/12/1933',
 '11/19/1933',
 '11/26/1933',
 '12/03/1933',
 '12/10/1933',
 '12/17/1933',
 '12/24/1933',
 '12/31/1933',
 '01/07/1934',
 '01/14/1934',
 '01/21/1934',
 '01/28/1934',
 '02/04/1934',
 '02/11/1934',
 '02/18/1934',
 '02/25/1934',
 '03/04/1934',
 '03/11/1934',
 '03/18/1934',
 '03/25/1934',
 '04/01/1934',
 '04/08/1934',
 '04/15/1934',
 '04/22/1934',
 '04/29/1934',
 '05/06/1934',
 '05/13/1934',
 '05/20/1934',
 '05/27/1934',
 '06/03/1934',
 '06/10/1934',
 '06/17/1934',
 '06/24/1934',
 '07/01/1934',
 '07/08/1934',
 '07/15/1934',
 '07/22/1934',
 '07/29/1934',
 '08/05/1934',
 '08/12/1934',
 '08/19/1934',
 '08/26/1934',
 '09/02/1934',
 '09/09/1934',
 '09/16/1934',
 '09/23/1934',
 '09/30/1934',
 '10/07/1934',
 '10/14/1934',
 '10/21/1934',
 '10/28/1934',
 '11/04/1934',
 '11/11/1934',
 '11/18/1934',
 '11/25/1934',
 '12/02/1934',
 '12/09/1934',
 '12/16/1934',
 '12/23/1934',
 '12/30/1934',
 '01/06/1935',
 '01/13/1935',
 '01/20/1935',
 '01/27/1935',
 '02/03/1935',
 '02/10/1935',
 '02/17/1935',
 '02/24/1935',
 '03/03/1935',
 '03/10/1935',
 '03/17/1935',
 '03/24/1935',
 '03/31/1935',
 '04/07/1935',
 '04/14/1935',
 '04/21/1935',
 '04/28/1935',
 '05/05/1935',
 '05/12/1935',
 '05/19/1935',
 '05/26/1935',
 '06/02/1935',
 '06/09/1935',
 '06/16/1935',
 '06/23/1935',
 '06/30/1935',
 '07/07/1935',
 '07/14/1935',
 '07/21/1935',
 '07/28/1935',
 '08/04/1935',
 '08/11/1935',
 '08/18/1935',
 '08/25/1935',
 '09/01/1935',
 '09/08/1935',
 '09/15/1935',
 '09/22/1935',
 '09/29/1935',
 '10/06/1935',
 '10/13/1935',
 '10/20/1935',
 '10/27/1935',
 '11/03/1935',
 '11/10/1935',
 '11/17/1935',
 '11/24/1935',
 '12/01/1935',
 '12/08/1935',
 '12/15/1935',
 '12/22/1935',
 '12/29/1935',
 '01/05/1936',
 '01/12/1936',
 '01/19/1936',
 '01/26/1936',
 '02/02/1936',
 '02/09/1936',
 '02/16/1936',
 '02/23/1936',
 '03/01/1936',
 '03/08/1936',
 '03/15/1936',
 '03/22/1936',
 '03/29/1936',
 '04/05/1936',
 '04/12/1936',
 '04/19/1936',
 '04/26/1936',
 '05/03/1936',
 '05/10/1936',
 '05/17/1936',
 '05/24/1936',
 '05/31/1936',
 '06/07/1936',
 '06/14/1936',
 '06/21/1936',
 '06/28/1936',
 '07/05/1936',
 '07/12/1936',
 '07/19/1936',
 '07/26/1936',
 '08/02/1936',
 '08/09/1936',
 '08/16/1936',
 '08/23/1936',
 '08/30/1936',
 '09/06/1936',
 '09/13/1936',
 '09/20/1936',
 '09/27/1936',
 '10/04/1936',
 '10/11/1936',
 '10/18/1936',
 '10/25/1936',
 '11/01/1936',
 '11/08/1936',
 '11/15/1936',
 '11/22/1936',
 '11/29/1936',
 '12/06/1936',
 '12/13/1936',
 '12/20/1936',
 '12/27/1936',
 '01/03/1937',
 '01/10/1937',
 '01/17/1937',
 '01/24/1937',
 '01/31/1937',
 '02/07/1937',
 '02/14/1937',
 '02/21/1937',
 '02/28/1937',
 '03/07/1937',
 '03/14/1937',
 '03/21/1937',
 '03/28/1937',
 '04/04/1937',
 '04/11/1937',
 '04/18/1937',
 '04/25/1937',
 '05/02/1937',
 '05/09/1937',
 '05/16/1937',
 '05/23/1937',
 '05/30/1937',
 '06/06/1937',
 '06/13/1937',
 '06/20/1937',
 '06/27/1937',
 '07/04/1937',
 '07/11/1937',
 '07/18/1937',
 '07/25/1937',
 '08/01/1937',
 '08/08/1937',
 '08/15/1937',
 '08/22/1937',
 '08/29/1937',
 '09/05/1937',
 '09/12/1937',
 '09/19/1937',
 '09/26/1937',
 '10/03/1937',
 '10/10/1937',
 '10/17/1937',
 '10/24/1937',
 '10/31/1937',
 '11/07/1937',
 '11/14/1937',
 '11/21/1937',
 '11/28/1937',
 '12/05/1937',
 '12/12/1937',
 '12/19/1937',
 '12/26/1937',
 '01/02/1938',
 '01/09/1938',
 '01/16/1938',
 '01/23/1938',
 '01/30/1938',
 '02/06/1938',
 '02/13/1938',
 '02/20/1938',
 '02/27/1938',
 '03/06/1938',
 '03/13/1938',
 '03/20/1938',
 '03/27/1938',
 '04/03/1938',
 '04/10/1938',
 '04/17/1938',
 '04/24/1938',
 '05/01/1938',
 '05/08/1938',
 '05/15/1938',
 '05/22/1938',
 '05/29/1938',
 '06/05/1938',
 '06/12/1938',
 '06/19/1938',
 '06/26/1938',
 '07/03/1938',
 '07/10/1938',
 '07/17/1938',
 '07/24/1938',
 '07/31/1938',
 '08/07/1938',
 '08/14/1938',
 '08/21/1938',
 '08/28/1938',
 '09/04/1938',
 '09/11/1938',
 '09/18/1938',
 '09/25/1938',
 '10/02/1938',
 '10/09/1938',
 '10/16/1938',
 '10/23/1938',
 '10/30/1938',
 '11/06/1938',
 '11/13/1938',
 '11/20/1938',
 '11/27/1938',
 '12/04/1938',
 '12/11/1938',
 '12/18/1938',
 '12/25/1938',
 '01/01/1939',
 '01/01/1939',
 '01/08/1939',
 '01/15/1939',
 '01/22/1939',
 '01/29/1939',
 '02/05/1939',
 '02/12/1939',
 '02/19/1939',
 '02/26/1939',
 '03/05/1939',
 '03/12/1939',
 '03/19/1939',
 '03/26/1939',
 '04/02/1939',
 '04/09/1939',
 '04/16/1939',
 '04/23/1939',
 '04/30/1939',
 '05/07/1939',
 '05/14/1939',
 '05/21/1939',
 '05/28/1939',
 '06/04/1939',
 '06/11/1939',
 '06/18/1939',
 '06/25/1939',
 '07/02/1939',
 '07/09/1939',
 '07/16/1939',
 '07/23/1939',
 '07/30/1939',
 '08/06/1939',
 '08/13/1939',
 '08/20/1939',
 '08/27/1939',
 '09/03/1939',
 '09/10/1939',
 '09/17/1939',
 '09/24/1939',
 '10/01/1939',
 '10/08/1939',
 '10/15/1939',
 '10/22/1939',
 '10/29/1939',
 '11/05/1939',
 '11/12/1939',
 '11/19/1939',
 '11/26/1939',
 '12/03/1939',
 '12/10/1939',
 '12/17/1939',
 '12/24/1939',
 '12/31/1939',
 '01/07/1940',
 '01/14/1940',
 '01/21/1940',
 '01/28/1940',
 '02/04/1940',
 '02/11/1940',
 '02/18/1940',
 '02/25/1940',
 '03/03/1940',
 '03/10/1940',
 '03/17/1940',
 '03/24/1940',
 '03/31/1940',
 '04/07/1940',
 '04/14/1940',
 '04/21/1940',
 '04/28/1940',
 '05/05/1940',
 '05/12/1940',
 '05/19/1940',
 '05/26/1940',
 '06/02/1940',
 '06/09/1940',
 '06/16/1940',
 '06/23/1940',
 '06/30/1940',
 '07/07/1940',
 '07/14/1940',
 '07/21/1940',
 '07/28/1940',
 '08/04/1940',
 '08/11/1940',
 '08/18/1940',
 '08/25/1940',
 '09/01/1940',
 '09/08/1940',
 '09/15/1940',
 '09/22/1940',
 '09/29/1940',
 '10/06/1940',
 '10/13/1940',
 '10/20/1940',
 '10/27/1940',
 '11/03/1940',
 '11/10/1940',
 '11/17/1940',
 '11/24/1940',
 '12/01/1940',
 '12/08/1940',
 '12/15/1940',
 '12/22/1940',
 '12/29/1940',
 '01/05/1941',
 '01/12/1941',
 '01/19/1941',
 '01/26/1941',
 '02/02/1941',
 ...]

In [ ]:
romance_titles = release_dates.pipe(filter_results, 'title', 'Romance')
romance_titles.sort_values('date')

                             title  year    country       date
5988            A Blue Gum Romance  1913  Australia 1913-09-20
411457  Tillie's Punctured Romance  1914        USA 1914-12-21
448635               Young Romance  1915        USA 1915-01-21
343033      The Bachelor's Romance  1915        USA 1915-02-11
392256       The Romance of Elaine  1915        USA 1915-06-14
...                            ...   ...        ...        ...
222409           Manhattan Romance  2015        USA 2015-10-02
292005     Romance Out of the Blue  2015      China 2015-10-23
291998         Romance Complicated  2016      India 2016-01-15
21168             American Romance  2016        USA 2016-10-23
292408          Romeo and Romances  2017        USA 2017-02-14

[340 rows x 4 columns]

In [ ]:
for weekday in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']:
    days = which_day(1894, 2024, weekday)
    day_count = romance_titles[romance_titles['date'].isin(days)].sort_values('date')['date'].count()
    print(f'{weekday} : {day_count}')

Sunday : 45
Monday : 65
Tuesday : 16
Wednesday : 34
Thursday : 53
Friday : 106
Saturday : 21

### Count the number of movies with "Action" in their title for **each day of the week**, that are released in the USA.

In [ ]:
action_titles = release_dates.pipe(filter_results, 'title', 'Action')
action_titles.sort_values('date')

,title,year,country,date
13441,Action,1921,USA,1921-09-12
8462,A Man of Action,1923,USA,1923-06-03
13442,Action,1921,France,1924-01-11
8463,A Man of Action,1923,Denmark,1925-01-05
13443,Action,1921,Finland,1925-02-15
...,...,...,...,...
13451,Action Hero Biju,2016,United Arab Emirates,2016-02-25
13450,Action Hero Biju,2016,Kuwait,2016-02-25
426049,Untitled Disney Live-Action Fairy Tale,2017,USA,2017-12-22
426050,Untitled Disney Live-Action Fairy Tale,2019,USA,2019-03-29
426051,Untitled Disney Live-Action Fairy Tale (II),2019,USA,2019-11-08

In [ ]:
for weekday in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']:
    days = which_day(1894, 2024, weekday)
    day_count = action_titles[action_titles['date'].isin(days)].sort_values('date')['date'].count()
    print(f'{weekday} : {day_count}')

Sunday : 9
Monday : 16
Tuesday : 2
Wednesday : 36
Thursday : 54
Friday : 115
Saturday : 19

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with the actress Judi Dench tend to be released in the USA?

### In which months do films with the actor Tom Cruise tend to be released in the USA?