In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Using `groupby()`, count the number of films that have been released in each decade in the history of cinema.

In [25]:
# create bins to define the decades
bins = [x*10 for x in range(189, 204)]
# use groupby on the categorical series to count number of titles for each bin
titles.groupby(pd.cut(titles['year'], bins)).title.count()

year
(1890, 1900]        7
(1900, 1910]       55
(1910, 1920]     7617
(1920, 1930]     8490
(1930, 1940]    10277
(1940, 1950]     8675
(1950, 1960]    13113
(1960, 1970]    18166
(1970, 1980]    18351
(1980, 1990]    20746
(1990, 2000]    22672
(2000, 2010]    42247
(2010, 2020]    61847
(2020, 2030]       67
Name: title, dtype: int64

### Use `groupby()` count the number of "Hamlet" films made in each decade.

In [40]:
# use previous bins decades and filter by title 'Hamlet'
titles[titles['title'] == 'Hamlet'].groupby(pd.cut(titles['year'], bins)).title.count()

year
(1890, 1900]    0
(1900, 1910]    1
(1910, 1920]    2
(1920, 1930]    1
(1930, 1940]    0
(1940, 1950]    1
(1950, 1960]    1
(1960, 1970]    2
(1970, 1980]    2
(1980, 1990]    2
(1990, 2000]    2
(2000, 2010]    1
(2010, 2020]    3
(2020, 2030]    0
Name: title, dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

### In the 1950s taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

### List each of the characters that Frank Oz has portrayed at least twice.