In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
    'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
    'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])
})

## Boolean Comparisons

- eq (== equals to)
- ne (!= not equals to)
- le (<= less than or equals to)
- lt (< less than)
- ge (>= greater than or equals to)
- gt (> greater than)

In [3]:
df2 = df.copy()
df.gt(df2)

     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [4]:
df.ne(df2)

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False