In [11]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

# def filter_animals(df,animal):

Write a function that takes dataframe df (defined above) and string with animal as inputs and returns rows where animal is equal to string (parameter function) and age is less than 3.

Notes:
        - Return empty DataFrame if wrong animal is written

In [39]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [123]:
index = df.index.to_list()

def filter_animals(df, animal):
    save = []
    for i in index:
        if df.loc[i, 'animal'] == animal and df.loc[i, 'age'] < 3:
            save.append(df.loc[i, :])
            
    return pd.DataFrame(save)

In [124]:
filter_animals(df, 'cat')

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [125]:
len(filter_animals(df,'cat'))

2

In [126]:
filter_animals(df,'cat').equals(df[(df.age < 3) & (df.animal =='cat')])

True

# Question 2

In [181]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

Write a function that takes dataframe df (defined above) as input and returns filtered dataframe with:
        - Only numeric columns
        - Only rows without any missing values

Notes:
        - Donâ€™t select the columns and rows manually (use filtering)

In [182]:
dtype = df.select_dtypes(exclude=['object'])
dtype

   age  visits
a  2.5       1
b  3.0       3
c  0.5       2
d  NaN       3
e  5.0       2
f  2.0       3
g  4.5       1
h  NaN       1
i  7.0       2
j  3.0       1

In [183]:
index = df.index.to_list()
data_type = df.select_dtypes(exclude=['object'])

def filter_dataframe(df):
    
    index_save = []
    save = []
    for i in index:
        if df.loc[i, 'age'] == df.loc[i, 'age']:
            save.append(data_type.loc[i, :])
            
    return pd.DataFrame(save)

# Question 3

In [188]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Andres','James','David','Vin','Steve','David','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)

Write a function that takes df (defined above) as input and returns tuple with 3 values:
   - Most common name (string)
   - Average age (float)
   - IQR of rating (float)

Notes:
   - Average age and IQR must be float not numpy.float64 type

In [193]:
df['Age'].mean()

31.833333333333332

In [219]:
def compute_statistics(df):
    
    df[['Age', 'Rating']] = df[['Age', 'Rating']].astype(float)
    
    
    
    return tuple([df['Name'].mode().to_string(), df['Age'].mean(), pd.qcut(df['Rating'], q=4)])

In [270]:
rating_float = pd.qcut(df['Rating'].astype(float), q=4)

In [276]:
rating_float

0      (4.132, 4.8]
1      (3.23, 3.79]
2     (3.79, 4.132]
3     (2.559, 3.23]
4     (2.559, 3.23]
5      (4.132, 4.8]
6     (3.79, 4.132]
7      (3.23, 3.79]
8     (2.559, 3.23]
9      (4.132, 4.8]
10    (3.79, 4.132]
11     (3.23, 3.79]
Name: Rating, dtype: category
Categories (4, interval[float64, right]): [(2.559, 3.23] < (3.23, 3.79] < (3.79, 4.132] < (4.132, 4.8]]

In [296]:
names = df['Name'].value_counts()
names.index.to_list()[0]

'David'

In [285]:
def compute_statistics(df):
     
    # find mode of names    
    names = df['Name'].to_list()
    mode = names.index.to_list()[0]
    
    # find mean of age
    mean_age = df['Age'].sum() / len(df['Age'])
    mean_age_float = float(mean_age)
    
    # find interquartile range
    Q3 = np.quantile(df['Rating'], 0.75)
    Q1 = np.quantile(df['Rating'], 0.25)
    IQR = float(Q3) - float(Q1)
    
    return tuple([mode, mean_age_float, IQR])

IndentationError: expected an indented block (<ipython-input-285-776296b89ae1>, line 11)

In [284]:
compute_statistics(df) == ('David',)

False

In [230]:
me

pandas._libs.interval.Interval