# Tidy Data

- [*Tidy Data*](https://vita.had.co.nz/papers/tidy-data.pdf) by Hadley Wickham

![rows/columns/values](../images/01_tidy_data.png)

## Examples of Untidy data

### ex. 1

- dataset: `puppies`
- info: measuring the weights (kg) of puppies after 6 months and 24 months


| name  | 6 | 24 |
|----|----|----|
| pippa | 8 | 12 |
| prairie | 5 | 10 |


* the column names aren't variables rather values of a variable (age).


tidied example:

| name | age | weight |
|------|-----|--------|
| pippa | 6 | 8 |
| prairie | 6 | 5|
| pippa | 24 | 12 |
| prairie | 24 | 10 |

### ex. 2

- dataset: `test_scores`
- info: documenting test scores of students


| student_id | test_name | score |
| ---------- | --------- | ----- |
| 1          | bio       | 76/100|
| 2          | bio       | 90/100|
| 1          | anthro    | 200/250|

* `score` column is a composite value of `points earned` over `points available`

tidied example:

| student_id | test_name | points_earned | points_available |
| ---------- | --------- | ----- | -----|
| 1          | bio       | 76 | 100 |
| 2          | bio       | 90 | 100 |
| 1          | anthro    | 200 | 250 |

## Our turn 
### Why is this table untidy?

data: TB cases

| country | cases (year 1999) | cases (year 2000) | population (year 1999) | population (year 2000) |
| ------- | ----------------- | ----------------- | ---------------------- | ---------------------- |
| Afghanistan | 745 | 2666 | 19987071 | 20595360 |
| Brazil | 37737 | 80488 | 172006362 | 174504897 |
| China | 212258 | 213766 | 1272915272 | 1280428583 |