# JSON Tutorial

In [4]:
import pandas as pd
import json
import pprint
from IPython.display import display

In [5]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"

In [6]:
first_json = pd.read_json(url)

In [7]:
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [8]:
first_json.to_json('json_columns.json', orient='columns')

In [9]:
first_json.to_json('json_index.json', orient='index')

Importing a nested JSON file doesn't work directly, but we have a few options.

In [10]:
with open('nested.json') as f:
  nested_json = json.load(f)

In [11]:
print(nested_json)

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Allen'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Aditya Sharma'}], 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}

In [12]:
print(type(nested_json))

<class 'dict'>

In [13]:
pd.json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

In [14]:
blog = pd.json_normalize(nested_json, record_path='blog')

In [15]:
article = pd.json_normalize(nested_json, record_path='article')

`json_normalize()` has 3 main parameters:
- data: input data
- record_path: nested elements
- meta: let them as they are elements

In [16]:
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [18]:
pd.json_normalize(data)

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [21]:
pd.json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich